:root {
  --thumbnail-width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.thumbnail {
  height: auto;
  width: var(--thumbnail-width);
}

.vod-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--thumbnail-width), 1fr));
}

.vod-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
