<link rel="stylesheet" type="text/css" href={static_path(if assigns[:conn] do @conn else @socket end, "/assets/css/global.css")}/>

<main>
  <%= live_render(if assigns[:conn] do @conn else @socket end, ViewboxWeb.ToastsLive, id: "toasts" ) %>
  <%= @inner_content %>
</main>
