<link rel="stylesheet" type="text/css" href={static_path(if assigns[:conn] do @conn else @socket end, "/assets/css/global.css")}/>

<main>
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
